<h3>Workouts</h3>



<div class="center">

  <div class="info">

    <ol type="1">
      <% if current_user.workouts.count == 0%>
        <p>You currently have no workouts, add <%= link_to "Workout", new_workout_path %></p>
      <% else %>
        <% current_user.workouts.all.each do |workout, i| %>
          <li><%= link_to "#{workout.name}", workout_path(workout) %></li>
          </br>
          <% end %>
      <% end %>
    </ol>

    <% if current_user.workouts.count !=0 %>
      <p>Add More <%= link_to "Workouts", new_workout_path %></p>
    <%end%>

</div>
