<h3>Workouts</h3>

<div class="center">
  <div class="info">
    <ol type="1">
      <% if current_user.workouts.count == 0%>
        <p>You currently have no workouts, add <%= link_to "Workout", new_workout_path %></p>
      <% else %>
        <% current_user.workouts.all.each do |workout, i| %>
          <li><%= link_to "#{workout.name}", user_workout_path(@user, workout) %></li>

              <div class="workout-exercises">
                <ol>

                </ol>
              </div>

          </br>
          <% end %>
      <% end %>
    </ol>

<!--
    <div class="add-workouts">
      <ol>
        <%= render 'workouts/workouts' %>
      </ol>
    </div> -->


</div>
