
<li><%= @workout.name %></li>

<div class="workout_exercises">
  <ol>
    <h4>Exercises</h4>
    <% @workout.exercises.all.each do |exercise| %>
      <li><%= exercise.name %></li>
      <% end %>
  </ol>
</div>
