
<div align="center">
  <h1>Welcome to Workout Tracker!</h1>
  <h3>Keep track of all your workouts</h3>
</div>


<div>

  <div align="center" class="main-pic">
    <img src="/assets/main-page.jpg" width="650" height="450">
  </div>

  <!-- <div align="center" class="right-info">
    <h1>Welcome to Workout Tracker!</h1>
    <div class="center">
      <%= link_to "Sign In", '/users/sign_in'  %>
      <%= link_to "Sign Up", '/users/sign_up' %>
    </div>
  </div> -->

</div>
