<h1>Days</h1>
<p>display days and scheduled workouts:</p>

<% if @user.days.count == 0%>
  <%= "You currently have no workout-days scheduled" %>
<% end %>

<% @days.each do |day| %>
  <%= day.name %>
<% end %>


<h1>Days</h1>

<p>
  <%= link_to "load days", days_path(@days), :class => "load_days" %>
</p>

<div id="all-days">.....days to load here from api ...</div>
